@use "./functions" as fn;
@use "./variables" as vars;

@mixin GlobalBtn($bg: vars.$color-primary, $color: vars.$text-light) {
  background-color: $bg;
  color: $color;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: fn.px_to_rem(4);
  outline: none;

  width: 100%;

  text-align: center;
  font-family: inherit;
}
