@use "./variables" as vars;

:export {
  fz-heading-lg: vars.$fz-heading-lg;
  fz-heading-md: vars.$fz-heading-md;
  fz-heading-sm: vars.$fz-heading-sm;
  text-light: vars.$text-light;
  text-dark: vars.$text-dark;
}
