@use "./../../../app/styles/placeholders";
@use "./../../../app/styles/mixins" as mixin;
@use "./../../../app/styles/functions" as fns;
.container {
  display: grid;
  row-gap: 1.5rem;

  width: 100%;
  height: 100%;

  margin-block: var(--component-margin);

  @include mixin.mq(sm) {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--two-col-gap);
    align-items: center;
  }
  .texts {
    @include mixin.mq(sm) {
      display: grid;
      row-gap: 3rem;
    }
    .title {
      color: var(--color-primary);
      font-size: var(--fz-md);
      font-weight: 600;
    }
    .contents {
      display: grid;
      row-gap: 0.5rem;
      font-size: var(--fz-sm);
      > p:first-child {
        color: var(--text-dark);
        font-weight: 600;
      }
      > p:last-child {
        color: var(--text-gray);
        font-weight: 100;
      }
    }

    .btn {
      display: none;
      @include mixin.GlobalBtn;

      @include mixin.mq(sm) {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }

  .mentors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    row-gap: 1rem;
    column-gap: 0.5rem;
    @include mixin.mq(sm) {
      column-gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(fns.px_to_rem(50), 1fr));
    }
    @include mixin.mq(lg) {
      column-gap: 2.5rem;
      grid-template-columns: repeat(auto-fit, minmax(fns.px_to_rem(90), 1fr));
    }
    @include mixin.mq(2xl) {
      column-gap: 3.5rem;
      grid-template-columns: repeat(auto-fit, minmax(fns.px_to_rem(100), 1fr));
    }
    .mentorCard {
      @extend %grid-stack;

      @include mixin.mq(sm) {
        row-gap: 1rem;
      }
      .overlay {
        grid-area: stack;
        align-self: center;
        z-index: 2;

        text-align: center;

        font-size: var(--fz-xs);

        opacity: 0;
        pointer-events: none;

        font-size: var(--fz-xs);

        transition: opacity 700ms cubic-bezier(0.4, 0, 1, 1);

        &.active {
          opacity: 1;
        }
        @include mixin.mq(sm) {
          display: none;
          &.active {
            display: none;
          }
        }
      }
    }

    .imageWrapper {
      grid-area: stack;
      position: relative;

      width: 100%;
      aspect-ratio: 1 / 1;
      min-width: fns.px_to_rem(70);
      max-width: fns.px_to_rem(150);

      z-index: 1;
      transition: filter 400ms ease;
      &:hover {
        filter: contrast(30%);
      }

      @include mixin.mq(sm) {
        &:hover {
          filter: contrast(120%);
        }
      }
    }

    > img {
      object-fit: contain;
      width: auto;
      max-width: 100%;
      height: auto;
    }
    .speciality {
      display: none;
      text-align: center;

      font-size: var(--fz-xs);
      color: var(--text-dark);

      width: auto;

      @include mixin.mq(sm) {
        display: inline;
      }
    }
  }
}
