@use "./../../app/styles/mixins" as mixin;
@use "./../../app/styles/functions" as fns;
.container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: var(--component-margin);

  @include mixin.mq(sm) {
    align-items: center;
  }
  @include mixin.mq(lg) {
    display: grid;
    grid-template-areas: "texts img";
    grid-template-columns: 1fr 1fr;
    column-gap: var(--two-col-gap);
    justify-content: space-between;
    align-items: center;
  }

  .texts {
    grid-area: texts;
    display: grid;
    row-gap: 1rem;
    .title {
      display: none;
      @include mixin.mq(lg) {
        display: inline;
        font-size: var(--fz-md);
        font-weight: 600;
      }
    }
    .categories {
      &.active {
        color: var(--color-secondary);
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-style: dashed;
        text-decoration-color: var(--color-secondary);
      }
    }
    .content {
      color: var(--text-gray);
      font-size: var(--fz-sm);
      font-weight: 500;
    }
  }

  > img {
    grid-area: img;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    // image should be at the center

    @include mixin.mq(sm) {
      justify-self: end;
      width: auto;
      height: auto;
    }
    @include mixin.mq(xl) {
      object-fit: cover;
      width: 100%;
    }
  }
  .mobile-title {
    color: var(--color-primary);
    font-weight: 800;

    @include mixin.mq(lg) {
      display: none;
    }
  }
}
