@use "./../../../app/styles/placeholders";
@use "./../../../app/styles/mixins" as mixin;
@use "./../../../app/styles/functions" as fns;
.wrapper {
  padding-inline: 0;
  @include mixin.mq(sm) {
    padding-inline: 2rem;
    padding-inline: 0px;
  }
  @include mixin.mq(2xl) {
    padding-inline: 0px;
    padding-block: 0px;
  }
}
.container {
  display: grid;
  justify-items: center;
  row-gap: 0.5rem;

  height: 100%;
  width: 100%;
  max-width: 100%;

  margin-block: var(--component-margin);

  @include mixin.mq(sm) {
    display: grid;
    grid-template-areas: "texts box";
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: var(--two-col-gap);

    max-width: 100%;
  }

  .box {
    @extend %grid-stack;
    max-width: 100;
    @include mixin.mq(sm) {
      grid-area: box;
      flex: 0 1 auto;
    }

    .bg {
      grid-area: stack;
      align-self: end;
      z-index: 1;
      background-color: rgba(62, 95, 144, 0.1);
      height: 86%;
      width: 100%;

      @include mixin.mq(sm) {
        display: none;
      }
    }
    .bg-desktop {
      display: none;
      grid-area: stack;

      object-fit: contain;

      @include mixin.mq(sm) {
        display: flex;

        position: relative; // REQUIRED for `fill` to work

        width: 100%;
      }
    }
    > img {
      grid-area: stack;
      z-index: 2;
      align-self: start;
      width: 100%;
      height: 100%;

      height: auto;
      object-fit: contain;
    }
  }

  .txt {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    max-width: 100%;

    @include mixin.mq(sm) {
      grid-area: texts;
      flex: 1 0 auto;
      max-width: 700px;
      gap: 3.5rem;
    }

    > p {
      margin: 0;
      padding-inline: 1rem;
      @include mixin.mq(2xl) {
        padding-inline: auto;
      }
    }
    .title {
      font-weight: 600;
      font-size: var(--fz-md);

      color: var(--text-dark);
    }

    .content {
      font-size: var(--fz-sm);
      font-weight: 500;
      color: var(--text-gray);
    }

    > button {
      @include mixin.GlobalBtn;

      margin-inline: 1rem;

      @include mixin.mq(2xl) {
        margin-inline: 0;
      }
    }
  }
}
