@use "./../../app/styles/mixins" as mixin;
.container {
  display: grid;
  row-gap: 0.5rem;
  @include mixin.mq(sm) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    column-gap: 2rem;
    row-gap: 1rem;
  }
}
