@use "./../../app//styles/placeholders";
@use "./../../app//styles/variables" as vars;
@use "./../../app/styles/mixins" as mixin;

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "stack";
  position: relative; // for z-index stacking context
  width: 100%;

  .overlay {
    grid-area: stack;
    z-index: 2;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(0deg, rgba(40, 49, 71, 0.1), rgba(34, 42, 60, 0.2)),
      linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 42.49%,
        rgba(0, 0, 0, 0.5) 90%,
        rgba(0, 0, 0, 0.9) 99.69%
      );
  }

  .img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
    @include mixin.mq(sm) {
      grid-area: stack;
      display: inline;
      width: 100%;
      height: 100%;

      z-index: 1;
    }
  }
  .nav {
    grid-area: stack;
    z-index: 3;
  }

  .texts {
    display: none;
    @extend %center-in-wrapper;
    @include mixin.mq(sm) {
      grid-area: stack;
      align-self: center;
      justify-self: start;
      display: grid;

      row-gap: 1rem;
      color: vars.$text-light;

      width: fit-content;
      z-index: 3;

      > * {
        margin: 0;
      }

      > h5 {
        max-width: 80ch;
        font-weight: 400;
      }
      .btns {
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: vars.$fz-sm;
        > button {
          @include mixin.GlobalBtn(
            $bg: transparent,
            $color: vars.$text-light,
            $border: vars.$text-light solid 1px
          );
        }
        > button:last-child {
          @include mixin.GlobalBtn($border: vars.$color-primary solid 1px);
        }
      }
    }
  }
  .mobile-texts {
    grid-area: stack;
    align-self: end;

    display: grid;
    row-gap: 0.5rem;
    color: vars.$text-light;

    text-align: center;

    z-index: 3;

    margin-block-end: 1rem;

    > * {
      margin: 0;
    }

    > h1 {
      font-size: vars.$fz-lg;
    }

    > h4 {
      font-size: vars.$fz-md;
    }

    @include mixin.mq(sm) {
      display: none;
    }
  }
}
