@use "./../../../app//styles/variables" as vars;
@use "./../../../app/styles/mixins" as mixin;
.logo {
  font-size: vars.$fz-heading-md;
  @include mixin.mq(sm) {
    font-size: vars.$fz-heading-lg;
    font-family: var(--rozha-fa);
  }
}
