@use "./../../../app/styles/placeholders";
@use "./../../../app/styles/mixins" as mixin;
.wrapper {
  @extend %grid-stack;
  font-size: var(--fz-sm);

  > img {
    grid-area: stack;
    z-index: 1;
    width: 100%;
    max-width: 100%;

    object-fit: cover;

    border-radius: var(--normal-border-radius);

    @include mixin.mq(sm) {
      width: 100%;
      height: 100%;
    }
  }

  .custom-overlay {
    position: absolute;
    inset: 0;

    z-index: 1;

    width: 100%;
    max-width: 100%;
    height: 100%;
  }
  .overlay {
    @extend %overlay;
    position: absolute;
    inset: 0;

    z-index: 1;

    width: 100%;
    max-width: 100%;

    border-radius: var(--normal-border-radius);
  }
  .top-children-container {
    grid-area: stack;
    z-index: 1;
  }

  .bottom-children-container {
    grid-area: stack;
    z-index: 1;
    align-self: end;
  }
  .center-children-container {
    grid-area: stack;
    z-index: 1;
    align-self: center;
  }
}
