@use "./styles/variable-maps" as varMap;
@use "./styles//functions" as fns;
@use "./styles/mixins" as mixin;
@use "./styles/placeholders";

:root {
  font-family: var(--font-fa, "sans-serif");

  @each $property, $value in varMap.$variables {
    --#{$property}: #{$value};
  }

  @include mixin.mq(sm) {
    --fz-xs: clamp(0.6rem, 0.52rem + 0.2vw, 0.7rem);
    --fz-sm: clamp(0.75rem, 0.55rem + 0.5vw, 1rem);
    --fz-md: clamp(0.875rem, 0.575rem + 0.75vw, 1.25rem);
    --fz-lg: clamp(1rem, 0.6rem + 1vw, 1.5rem);
  }
}

* {
  font-family: inherit;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font-family: inherit;
}

ul {
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: var(--text-dark);
}

p {
  margin: 0;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-bg);

  max-width: 100%;
}

.wrapper {
  @extend %wrapper;
}
