@use "./styles/variables" as vars;
@use "./styles//functions" as fns;
@use "./styles/mixins" as mixin;
@use "./styles/placeholders";

:root {
  font-family: var(--font-fa), "sans-serif";
}

* {
  font-family: inherit;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font-family: inherit;
}

ul {
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  color: vars.$text-dark;
}

p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: vars.$color-bg;

  max-width: 100%;
}

.wrapper {
  @extend %wrapper;
}
