@use "./../../app//styles/mixins" as mixin;
@use "./../../app//styles/placeholders";
@use "./../../app/styles/variables" as vars;
.nav {
  display: none;
  @include mixin.mq(sm) {
    display: grid;
    grid-template-areas: "logo list btns";
    grid-template-columns: auto 1fr auto;
    align-items: center;
    background-color: transparent;
    .logo {
      grid-area: logo;
      text-align: center;
      align-items: center;
    }
    > ul {
      grid-area: list;
      display: flex;
      gap: 0.5rem;
      color: vars.$text-light;
      font-size: vars.$fz-sm;
    }
    .btn-container {
      grid-area: btns;
      display: flex;
      gap: 0.5rem;
      .btn {
        @include mixin.GlobalBtn;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;

        > span {
          display: flex;
          align-items: center;
          font-size: vars.$fz-sm;
        }
      }
    }
  }

  @include mixin.mq(xl) {
    > ul {
      font-size: vars.$fz-md;
      gap: 1rem;
    }
    .btn-container {
      .btn {
        gap: 0.8rem;
      }
    }
  }
}

.mobile-nav {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-between;

  padding-block: 1rem;

  @include mixin.mq(sm) {
    display: none;
  }

  .menuBtn {
    z-index: 10;
    outline: none;
    border: none;
    background-color: transparent;
  }

  .overlay {
    @extend %backdrop;
    opacity: 0;
    z-index: 0;

    min-width: 100vw;
    min-height: 100vh;
    .sidebar {
      @extend %ham-sidebar;
    }
  }
}
