@use "./../../app//styles/mixins" as mixin;
@use "./../../app//styles/placeholders";
.nav {
  display: none;
}

.mobile-nav {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-between;

  .menuBtn {
    z-index: 10;
  }

  .overlay {
    @extend %overlay;
    opacity: 0;
    z-index: 0;

    min-width: 100vw;
    min-height: 100vh;
    .sidebar {
      @extend %ham-sidebar;
    }
  }
}

@media (min-width: 640px) {
  .mobile-nav {
    display: none;
  }
  .nav {
    display: grid;
    grid-template-areas: "logo list btns";
    grid-template-columns: auto 1fr auto;
    align-items: center;
    .logo {
      grid-area: logo;
      text-align: center;
      align-items: center;
    }
    > ul {
      grid-area: list;
      display: flex;
      gap: 0.2rem;
    }
    .btn-container {
      grid-area: btns;
      display: flex;
      gap: 0.5rem;
      .btn {
        @include mixin.GlobalBtn;
      }
    }
  }
}
