@use "./../../app/styles/mixins" as mixin;
.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
  max-width: 100%;

  margin-block: var(--component-margin);

  @include mixin.mq(sm) {
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 0.5rem;
    flex: 1;
  }
  @include mixin.mq(lg) {
    column-gap: var(--two-col-gap);
  }

  :global {
    .ant-carousel {
      .slick-prev,
      .slick-next {
        color: rgba(117, 119, 128, 1);
        z-index: 2;
      }
    }
  }

  .texts {
    flex: 1;

    .title {
      display: flex;
      gap: 0.3rem;
      width: 100%;
      font-size: var(--fz-xs);
      font-weight: 600;

      @include mixin.mq(lg) {
        font-size: var(--fz-sm);
      }
      @include mixin.mq(2xl) {
        font-size: var(--fz-md);
      }
      .continent {
        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;
        color: var(--color-primary);

        &.africa {
          color: var(--color-secondary);
        }

        .text {
          color: var(--color-secondary);
          opacity: 0;
          visibility: hidden;

          font-size: var(--fz-xs);

          height: 0;
          transform: translateY(-0.5rem);

          transition:
            opacity 400ms ease-out,
            color 200ms ease-out,
            transform 300ms ease-out;

          @include mixin.mq(lg) {
            font-size: var(--fz-sm);
          }
          &.active {
            opacity: 1;
            visibility: visible;
            height: auto;
            transform: translateY(0rem);
          }
          &.east {
            color: var(--color-primary);
          }
          &.africa {
            color: var(--color-secondary);
          }
        }
      }
    }

    .content {
      margin: 0;
      font-size: var(--fz-xs);
      @include mixin.mq(lg) {
        font-size: var(--fz-sm);
      }
    }
  }
  .item {
    flex: 1;
    width: 100%;
    max-width: 100%;

    @include mixin.mq(sm) {
      max-width: 50%;
    }
  }
}
